ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  max-width: 1440px;

  background: #fff;

  display: flex;
  gap: 32px 16px;
  flex-wrap: wrap;
}

.gallery li img {
  width: 360px;
  height: 200px;
}
